<section class="container">

    <section class="container-card">
        <div class="card-intro" style="background: #3BAEDA;">
            <h1 class="card-intro--title">Matematicas</h1>
        </div>
    </section>
    
    
    <h1 class="section-title">Mis Misiones</h1>

    <section class="container-card">
        <div class="card-asignatura" style="background: #3BAEDA;">
            <h3 class="card-asignatura--title">Matematicas</h3>
            <div class="backdrop-shadow--edit">
                <div class="container-buttons-actions">
                    <button>Editar</button>
                    <button>Eliminar</button>
                </div>
            </div>
        </div>
        <div class="card-asignatura" style="background: #9747FF;">
            <h3 class="card-asignatura--title">Ciencias</h3>
        </div>
    </section>

</section>
