<section class="container">
  <section class="container-card">
    <div class="card-intro" style="background: #05b0a1">
      <h1 class="card-intro--title">Matemáticas</h1>
    </div>
  </section>

  <h1 class="section-title">Mis Misiones</h1>

  <section class="container-card">
    <div
      id="misionDestinoAventura"
      class="card-asignatura"
      style="background: #08bef5"
      (click)="goToModulos()"
    >
      <!-- <img src="/assets/img/Mision_DestinoAventura.png"> -->
      <h3 class="card-asignatura--title">Destino Aventura</h3>
      <div
        style="
          background-image: url('/assets/img/Mision_DestinoAventura.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        "
        class="backdrop-shadow--edit"
        *ngIf="user.tipo != 'estudiante'"
      >
        <div class="container-buttons-actions">
          <button mat-icon-button class="icon-button-lg">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div
      id="misionMercadillo"
      class="card-asignatura"
      style="background: #8a2518"
      (click)="goToModulos()"
    >
      <!-- <img src="/assets/img/Mision_Mercadillo.png"> -->
      <h3 class="card-asignatura--title">Mercadillo</h3>
      <div
        style="
          background-image: url('/assets/img/Mision_Mercadillo.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        "
        class="backdrop-shadow--edit"
        *ngIf="user.tipo != 'estudiante'"
      >
        <div class="container-buttons-actions">
          <button mat-icon-button class="icon-button-lg">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div
      id="misionAngela"
      class="card-asignatura"
      style="background: #6d8111"
      (click)="goToModulos()"
    >
      <h3 class="card-asignatura--title">Juego Angela</h3>
      <div class="backdrop-shadow--edit" *ngIf="user.tipo != 'estudiante'">
        <div class="container-buttons-actions">
          <button mat-icon-button class="icon-button-lg">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
