<p *ngIf="estudiantes.length === 0; else elseBlock">
  En el momento no existen estudiantes.
</p>

<ng-template #elseBlock>
  <p *ngFor="let estudiante of estudiantes">{{ estudiante }}</p>
  <button (click)="borrarData()">Borrar estudiantes</button>
</ng-template>

<!-- <div *ngFor="let user of users">
  <p>{{ user.id }} - {{ user.first_name }}</p>
</div> -->

<!-- <div id="unity-container" class="unity-desktop">
  <canvas
    id="unity-canvas"
    style="width: 960px; height: 600px; cursor: default"
    width="960"
    height="600"
  ></canvas>
  <div id="unity-loading-bar" style="display: none">
    <div id="unity-logo"></div>
    <div id="unity-progress-bar-empty">
      <div id="unity-progress-bar-full" style="width: 100%"></div>
    </div>
  </div>
  <div id="unity-mobile-warning">
    WebGL build is not supported on mobile devices.
  </div>

  <div id="unity-footer">
    <div id="unity-webgl-logo"></div>
    <div id="unity-fullscreen-button"></div>
    <div id="unity-build-title">pdg-unity</div>
  </div>
</div>
 -->

<!-- <canvas
  id="unity-canvas"
  width="960"
  height="600"
  style="width: 960px; height: 600px; background: #231f20"
></canvas> -->
<ng-container *ngIf="!isReady">
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      [style.width.%]="progress * 100"
      [attr.aria-valuenow]="progress"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <hr />
</ng-container>

<div
  #unityEl
  id="gameContainer"
  style="display: block; width: 100%; min-height: 0px; margin: auto"
></div>
