.example-box,
.zone1,
.zone2,
.cartilla5,
.zone3,
.zone4 {
  width: 100px;
  height: 100px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
button {
  margin-right: 8px;
}

.cartilla5 {
  width: 23vw;
  height: 36vw;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.player,
.player5,
.card1,
.card2 {
  width: 100px;
  height: 100px;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.example-box {
  background-image: url("../../../../assets/imgs/act_four/Museo.JPG");
}
.img-show {
  width: auto;
  height: 25vh;
}
.player {
  background-image: url("../../../../assets/imgs/games/4/pieza1.png");
}

.player5 {
  background-image: url("../../../../assets/imgs/games/4/pieza1.png");
}

.card1 {
  background-image: url("../../../../assets/imgs/games/3/pieza1.png");
}

.card2 {
  background-image: url("../../../../assets/imgs/games/3/pieza2.png");
}

.cartilla5 {
  background-image: url("../../../../assets/imgs/games/5/cartilla.png");
}

.zone1 {
  background-image: url("../../../../assets/imgs/games/4/zone1.JPG");
}
.zone2 {
  background-image: url("../../../../assets/imgs/games/4/zone2.JPG");
}
.zone3 {
  background-image: url("../../../../assets/imgs/games/4/zone3.JPG");
}
.zone4 {
  background-image: url("../../../../assets/imgs/games/4/zone4.JPG");
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.player:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.player5:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.card1:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.card2:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.zone1:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.zone2:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.zone3:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.zone4:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-boundary {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  border: dotted #ccc 2px;
  background-image: url("../../../../assets/imgs/games/4/atv.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.board3 {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  border: dotted #ccc 2px;
  background-image: url("../../../../assets/imgs/games/3/atv.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.board5 {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  border: dotted #ccc 2px;
  background-image: url("../../../../assets/imgs/games/5/atv.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.example-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

mat-grid-list {
  margin-top: 2rem;
}
.activity-display {
  width: 80vw;
  height: 25rem;
  // background-color: black;
  margin: auto;
  margin-top: 2rem;
}

.activity-card {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  justify-content: center;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.activity-questions {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  justify-content: center;
  margin: auto;
  //   border: 1px solid black;
  //   border-radius: 5px;
}

.btn-next {
  width: 50vw;
}

mat-form-field {
  width: 50vw;
}
