<!-- game 4 -->
<!-- <div class="example-boundary">
  <div class="player" cdkDragBoundary=".example-boundary" cdkDrag></div>
  <div class="zone1" cdkDragBoundary=".example-boundary" cdkDrag></div>
  <div class="zone2" cdkDragBoundary=".example-boundary" cdkDrag></div>
  <div class="zone3" cdkDragBoundary=".example-boundary" cdkDrag></div>
  <div class="zone4" cdkDragBoundary=".example-boundary" cdkDrag></div>
</div> -->
<!-- <div class="example-box" cdkDrag>
  <div class="example-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
      ></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
</div>
<div class="example-box" cdkDrag>
  <div class="example-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
      ></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
</div> -->

<!-- game 3 -->
<!-- <div class="board3">
  <div class="card1" cdkDragBoundary=".board3" cdkDrag></div>
  <div class="card2" cdkDragBoundary=".board3" cdkDrag></div>
</div>
<button mat-button (click)="openDialog()">Cartilla</button> -->
<!-- game 5 -->
<!-- <div class="board5">
  <div class="player5" cdkDragBoundary=".board5" cdkDrag></div>
</div> -->

<!-- game 1 -->
<canvas class="dice" #canvas></canvas>
<button mat-button (click)="rollDice()">Lanzar dado</button>
<div>Resultado: {{ result }}</div>

<!-- game 2 -->
<!-- <div class="board2">
  <img src="assets/imgs/games/2/texture.png" alt="" class="texture" />
  <div
    class="item1"
    cdkDragBoundary=".board2"
    cdkDrag
    [style.transform]="rotate"
  >

    <button mat-icon-button class="rotate" (click)="rotateDiv()">
      <mat-icon>rotate_right</mat-icon>
    </button>
  </div>

  <div
    class="item2"
    cdkDragBoundary=".board2"
    cdkDrag
    [style.transform]="rotate"
  >

    <button mat-icon-button class="rotate" (click)="rotateDiv()">
      <mat-icon>rotate_right</mat-icon>
    </button>
  </div>
  <div class="item3" cdkDragBoundary=".board2" cdkDrag></div>
  <div class="item4" cdkDragBoundary=".board2" cdkDrag></div>
</div> -->

<script
  src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js"
  charset="UTF-8"
></script>

<section class="activity-display">
  <iframe
    [src]="srcMultimediaContent | safe"
    height="450"
    width="100%"
    margin="auto"
    title="Example"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</section>

<mat-grid-list cols="1" rowHeight="20rem">
  <mat-grid-tile>
    <section class="activity-card">
      <h2>{{ activityTitle }}</h2>
      <h2>Temáticas a abordar</h2>
      <p>{{ topics }}</p>
    </section>
  </mat-grid-tile>
  <mat-grid-tile>
    <section class="activity-questions">
      <h2>Comprobación de preguntas</h2>
      <mat-form-field appearance="fill" *ngFor="let question of questions">
        <mat-label>{{ question.option }}</mat-label>
        <input
          type="text"
          name="pregunta"
          matInput
          [(ngModel)]="inputPregunta"
          maxlength="250"
          placeholder="Respuesta"
          required
        />
      </mat-form-field>
    </section>
  </mat-grid-tile>
  <mat-grid-tile
    ><button type="submit" mat-raised-button color="primary" class="btn-next">
      Siguiente
    </button></mat-grid-tile
  >
</mat-grid-list>
