.example-box {
  width: 100px;
  height: 100px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-image: url("../../../../assets/imgs/act_four/Museo.JPG");
  background-size: contain;
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-boundary {
  width: 100%;
  height: 88vh;
  max-width: 100%;
  border: dotted #ccc 2px;
  background-image: url("../../../../assets/imgs/games/4/atv.JPG");
  background-size: cover;
}

.example-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

mat-grid-list {
  margin-top: 2rem;
}
.activity-display {
  width: 80vw;
  height: 25rem;
  // background-color: black;
  margin: auto;
  margin-top: 2rem;
}

.activity-card {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  justify-content: center;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.activity-questions {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  justify-content: center;
  margin: auto;
  //   border: 1px solid black;
  //   border-radius: 5px;
}

.btn-next {
  width: 50vw;
}

mat-form-field {
  width: 50vw;
}
