<canvas id="canvas">
  HTML5 canvas appears to be unsupported in the current browser.<br />
  Please try updating or use a different browser.
</canvas>

<!-- call the function getMultimediaContent in src -->
<!-- <iframe
  [src]="srcMultimediaContent | safe"
  width="727"
  height="409"
  title="Example"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe> -->
<div class="sketchfab-embed-wrapper">
  <iframe
    title="Dice"
    frameborder="0"
    allowfullscreen
    mozallowfullscreen="true"
    webkitallowfullscreen="true"
    allow="autoplay; fullscreen; xr-spatial-tracking"
    xr-spatial-tracking
    execution-while-out-of-viewport
    execution-while-not-rendered
    web-share
    src="https://sketchfab.com/models/6ee97010819742a8b8713605695ec703/embed"
  >
  </iframe>
  <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4a4a4a">
    <a
      href="https://sketchfab.com/3d-models/dice-6ee97010819742a8b8713605695ec703?utm_medium=embed&utm_campaign=share-popup&utm_content=6ee97010819742a8b8713605695ec703"
      target="_blank"
      style="font-weight: bold; color: #1caad9"
    >
      Dice
    </a>
    by
    <a
      href="https://sketchfab.com/macriciox?utm_medium=embed&utm_campaign=share-popup&utm_content=6ee97010819742a8b8713605695ec703"
      target="_blank"
      style="font-weight: bold; color: #1caad9"
    >
      macriciox
    </a>
    on
    <a
      href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=6ee97010819742a8b8713605695ec703"
      target="_blank"
      style="font-weight: bold; color: #1caad9"
      >Sketchfab</a
    >
  </p>
</div>
<script
  src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js"
  charset="UTF-8"
></script>

<mat-grid-list cols="1" rowHeight="20rem">
  <mat-grid-tile>
    <div class="activity-display">
      Sección de actividad (Dado 3D, imagen interactiva)
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <section class="activity-card">
      <h2>{{ activityTitle }}</h2>
      <h2>Temáticas a abordar</h2>
      <p>{{ topics }}</p>
    </section>
  </mat-grid-tile>
  <mat-grid-tile>
    <section class="activity-questions">
      <h2>Comprobación de preguntas</h2>
      <mat-form-field appearance="fill">
        <mat-label>¿Insertar alguna pregunta aquí?</mat-label>
        <input
          type="text"
          name="pregunta"
          matInput
          [(ngModel)]="inputPregunta"
          maxlength="250"
          placeholder="¿Insertar alguna pregunta aquí?"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>¿Insertar alguna pregunta aquí?</mat-label>
        <input
          type="text"
          name="pregunta"
          matInput
          [(ngModel)]="inputPregunta"
          maxlength="250"
          placeholder="¿Insertar alguna pregunta aquí?"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>¿Insertar alguna pregunta aquí?</mat-label>
        <input
          type="text"
          name="pregunta"
          matInput
          [(ngModel)]="inputPregunta"
          maxlength="250"
          placeholder="¿Insertar alguna pregunta aquí?"
          required
        />
      </mat-form-field>
    </section>
  </mat-grid-tile>
  <mat-grid-tile
    ><button type="submit" mat-raised-button color="primary" class="btn-next">
      Siguiente
    </button></mat-grid-tile
  >
</mat-grid-list>
