.title-resultados {
  margin-top: 1.5rem;
}

.container-actions-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0rem;
}

.input-search-container {
  display: flex;
}

.input {
  padding: 0.5rem 0.7rem;
  border: 1px solid #ccc;
  border-right: none;
  outline: none;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.button-search {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-left: none;
  width: 2.2rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  &:hover {
    background: #dbdbdb;
    transition: 0.5s;
  }
}
