<header class="header">
  <div class="header-logo">
    <img src="https://picsum.photos/30/30" alt="logo" />
  </div>

  <div class="header-link">
    <a
      routerLink="/estudiantes/crear"
      routerLinkActive="active"
      class="header-link__item"
      >Estudiantes</a
    >
    <a class="header-link__item">Inicio</a>
    <a class="header-link__item">Blog</a>
    <a class="header-link__item">Nosotros</a>
    <a (click)="logout()" class="header-link__item" *ngIf="isLog"
      >Cerrar sesión</a
    >
    <a
      (click)="login()"
      routerLink="/login"
      class="header-link__item"
      *ngIf="!isLog"
      >Ingresar</a
    >
  </div>
</header>
