<app-card-blog></app-card-blog>
<app-card-blog></app-card-blog>
<app-card-blog></app-card-blog>
<app-card-blog></app-card-blog>
<app-card-blog></app-card-blog>
<app-card-blog></app-card-blog>
<app-card-blog></app-card-blog>
<app-card-blog></app-card-blog>
<app-card-blog></app-card-blog>

<!-- <section class="container-card">
  <section class="container-card__item">
    <h1>Name</h1>
    <p>Correo</p>
    <p>Más información</p>
  </section>
  <section class="container-card__item">
    <img src="https://picsum.photos/180" alt="imagen_random" />
  </section>
</section>
<section class="container-card">
  <section class="container-card__item">
    <h1>Name</h1>
    <p>Correo</p>
    <p>Más información</p>
  </section>
  <section class="container-card__item">
    <img src="https://picsum.photos/180" alt="imagen_random" />
  </section>
</section>
<section class="container-card">
  <section class="container-card__item">
    <h1>Name</h1>
    <p>Correo</p>
    <p>Más información</p>
  </section>
  <section class="container-card__item">
    <img src="https://picsum.photos/180" alt="imagen_random" />
  </section>
</section> -->
