.container-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-around;
  height: fit-content;
  width: 100%;
  margin: 5rem 0rem;
}

.container-card__item {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
  justify-content: space-between;
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.container-card__item img {
  border-radius: 50%;
  object-fit: cover;
  width: 95% !important;
}
