<section class="container">

    <section class="container-card">
        <div class="card-intro" style="background: #3BAEDA;">
            <h1 class="card-intro--title">Matematicas</h1>
        </div>
    </section>
    
    
    <h1 class="section-title">Módulos</h1>

    <section class="container-card">
        <div class="card-asignatura" style="background: yellow;" (click)="goToActividades()">
            <h3 class="card-asignatura--title">PREPARA TU VIAJE</h3>
            <div class="backdrop-shadow--edit">
                <div class="container-buttons-actions">
                    <button mat-icon-button class="icon-button-lg">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-asignatura" style="background: red;" (click)="goToActividades()">
            <h3 class="card-asignatura--title">A VIAJAR Y DISFRUTAR</h3>
            <div class="backdrop-shadow--edit">
                <div class="container-buttons-actions">
                    <button mat-icon-button class="icon-button-lg">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="container-create">
        <button mat-icon-button>
            <mat-icon class="icon-button-create">add_circle_outline</mat-icon>
        </button>
        <div class="create-modulos-links">
            <h1 class="title-link">Recursos</h1>
            <div class="links">
                <a href="#" class="flex-center"> <mat-icon class="margin-icon drive">add_to_drive</mat-icon> Google drive</a>
                <a href="#" class="flex-center"> <mat-icon class="margin-icon video">smart_display</mat-icon> Video tutorial</a>
            </div>
        </div>
    </section>

</section>
