<section class="container-list">
  <section>
    <h2>Conoce la plataforma</h2>
    <p>Explora los diferentes servicios que se bridan</p>
  </section>

  <section>
    <h2>Blog</h2>
    <p>Revisa los contenidos que fueron subidos por lo docentes</p>
  </section>

  <section>
    <h2>Nosotros</h2>
    <p>Conoce más información de las personas encargadas de la plataforma</p>
  </section>

  <section>
    <h2>Inicio de sesión</h2>
    <p>Ingresa a los contenidos destinados a estudiantes y docentes</p>
  </section>
</section>
