<section class="container">
  <section class="container-card">
    <div class="card-intro">
      <h1 class="card-intro--title">Bienvenido</h1>
      <h1 class="card-intro--title">a tu portal</h1>
      <h2 class="card-intro--subtitle">Rafael Mauricio Martínez Gutiérrez</h2>
    </div>
  </section>

  <h1 class="section-title">Asignaturas</h1>

  <section class="container-card">
    <div
      class="card-asignatura"
      style="background: #05b0a1"
      (click)="goToMisiones()"
    >
      <h3 class="card-asignatura--title">Matemáticas</h3>
    </div>
    <div class="card-asignatura" style="background: #22254b">
      <h3 class="card-asignatura--title">Ciencias</h3>
    </div>
  </section>
</section>
